body {}

#main-nav .nav-link {
    color: white;
}

#main-nav .nav-link:hover {
    color: yellow;
    box-shadow: 1px 2px pink;
}

#ba {
    width: 28%;
}

@media(max-width:1000px) {
    #ba {
        width: 60%;
    }
}

@media(max-width:600px) {
    #ba {
        width: 80%;
    }
}

.l1:hover {
    transform: scale(1.1, 1.3) skew(2deg);
}

#ro {
    width: 500px;
    height: 130px;
    overflow: hidden;
    background-color: #a0bfb5;
    transition: width 1s;
    margin-top: 10px;
}

#ro:hover {
    width: 520px;
    transform: skew(1deg);
}

#ro img:hover {
    transform: scale(1.5, 1.5);
}

.wrapper {
    max-width: 320px;
    width: 320px;
    height: 30px;
    text-align: right;
    margin-right: 13%;
}

.marquee {
    white-space: nowrap;
    -webkit-animation: rightThenLeft 4s linear;
}

#bbb li {
    color: white;
    list-style-type: none;
    border-bottom: 1px solid white;
    width: 100%;
    padding: 6px 0;
    padding-left: 6px;
    ;
}

#bbb li:hover {
    background: rgb(38, 45, 82);
}

#bbb ul {
    margin: 0px 0px;
    padding: 0px;
    width: 100%;
}

#sss {
    cursor: not-allowed;
}